.heading h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    /* padding-top: 10%; */
    font-size: 55px;
    /* z-index: 2; */
}

body{
    height: 100%;
    margin: 0;
}

/* .image { 
    filter: blur(5px);

} */

.bg-img {
    /* The image used */
    background-image: url("./location-placeholder.jpg");
    
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    
    /* Full height */
    height: 100%;
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* padding: 5%;  */
    position:sticky;
  }
  
.dropdown-content {
    /* padding: 10px 12px; */
    color: #333333;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    cursor: pointer;
    border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 40%;
  padding: 20px;
  text-align: center;

}

.dropdown-content:focus,

.dropdown-content:hover {
    outline: none;
    border: 3px solid #bbbbbb;
    

}



.dropbtn {
    padding: 10px 12px;
    color: #333333;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 10%;
    padding: 20px;
    text-align: center;

}


